<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">
    <h4>What language do you program in?</h4>

    <p v-for="(value, language) in languages">
        <input name="language" type="radio" v-model="coefficient" :value="value">
        {{ language }}
    </p>

    <p>Experience? <input type="number" v-model="experience"></p>
    <p v-if="coefficient && rate">Your salary is  ${{ salary }}</p>
    <p v-else>Enter experience from "1..n"!</p>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>
